<%- include ("../layouts/adminheader") %>

<br>
<h2 class="page-title"> Edit a page</h2>
<a href="/admin/pages" class="btn btn-danger" > Back to All Pages  </a>
<br>
<br>

<form action="/admin/pages/edit-page/<%=idVar%>" method="POST">

    <div class="form-group">
        <label for="">Title</label>
        <input class="form-control" type="text" placeholder="Title" value="<%= titleVar %>" name='title'>
    </div>

    <div class="form-group">
        <label for="">Slug</label>
        <input class="form-control" type="text" placeholder="Slug" value="<%= slugVar %>" name='slug'>
    </div>

    <div class="form-group">
        <label for="">Content</label>
        <textarea id='mytextarea' class="form-control" cols="30" rows="10"   placeholder="Content" name="content" ><%= contentVar %></textarea>
    </div>
    <button class="btn btn-info">Submit</button>
</form>

<%- include ("../layouts/adminfooter") %>


