<%- include ("layouts/header") %>
<div class='col-12'>
<h2 class="text-center titlefont" >MahadevaMart </h2>
<hr class="m-0 p-0">
<div class="row p-0 m-0">
  <% productsVar.forEach(function(p){ %>
	<% if(p.category == "pooja-items" ){ %>
	<div class="col-12 col-sm-6 col-lg-4 p-0 m-0 item">
		<p class="ml-3 p-0 align-items-center" >
			<div class='p-0'>
			<img class='ml-1 lazyload' data-src="/product_images/<%=p._id %>/<%= p.image %>"
			width="120" height="100" alt="mahadevamart" align="left"/>
			</div>
    </p>
    <div class="row d-flex justify-content-end">
			<div class="col-9">
<p class="text-center font-allproducts h5 " style=color:"#c5a0de"><%= p.title %> <br> MRP: <span style='color:blue;background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, transparent 52.25%);'> ₹ <%= p.dummyprice %> </span> <br> <span style='color:green'> ₹ <%=  parseFloat(p.price).toFixed(2) %> </p>
        <p class="text-center text-decoration-none font-allproducts h5"><a style="border:1px solid #0056b3; color:#0056b3;font-weight:550 " class="btn btn-outline-primary question add-to-cart" href="/cart/addpi/<%= p.title %>">Add to Cart</a> 
        </p>
			</div>
    </div>
    <hr class="m-0">
</div>
<% } else { %>
<% } %>
    <% }); %>
  </div>
<br>
<script>
  $(window).scroll(function() {
  sessionStorage.scrollTop = $(this).scrollTop();
});

$(document).ready(function() {
  if (sessionStorage.scrollTop != "undefined") {
    $(window).scrollTop(sessionStorage.scrollTop);
  }
});


function myFunction(){
	$("img").submit();
}
</script>

<script>
$("img.lazyload").lazyload();
</script>
<%- include ("layouts/footer") %>
      


